<!-- if alertMessage from backend is generated then only this section is rendered for 6 milliseconds -->
<style>
     .alert-container {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: #a94442;
    padding: 15px;
    z-index: 100; /* Ensure it appears above the navbar */
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
</style>



<% if(alertMessage!='' ){ %>
    <div class="alert-container">
        <div class="alert alert-info" role="alert">
            <%= alertMessage %>
        </div>
    </div>
    <% }%>


        <script>

            const alertDuration = 6000;

            // after time specified in alertDuration the session will not be displayed.
            setTimeout(() => {
                document.getElementsByClassName('alert-container')[0].style.display = 'none'
            }, alertDuration);


        </script>