<style>
 .dashboard-container {
        min-height: 100vh;
    }

    .date-form {
        padding: 0 8rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    .secondary {
            background-color: #6c757d; /* Gray */
        }
        .primary {
            background-color: #007bff; /* Blue */
        }
        .success {
            background-color: #28a745; /* Green */
        }
        .info {
            background-color: #17a2b8; /* Light Blue */
        }
        .warning {
            background-color: #ffc107; /* Yellow */
        }
        .danger {
            background-color: #dc3545; /* Red */
        }
        .orange {
            background-color: #7ab3da; /* Orange */
        }
       
        .btn-custom {
            background-color: #444;
            border: none;
            color: #fff;
        }
        .btn-custom:hover {
            background-color: #555;
        }
</style>


</style>


<%- include('navbar') %>
   <div class="container dashboard-container text-white">
      <div class="row mt-5">
          <div class="col-md-12 mb-3">
              <h2>Sales Report</h2>
          </div>
          <div class="col-md-4">
              <div class="card-counter secondary">
                  <i class="fa-solid fa-dollar-sign"></i>
                  <span class="count-numbers">
                
                  </span>
                  <span class="count-name">Overall Order Count</span>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card-counter primary">
                  <i class="fa-solid fa-box-archive"></i>
                  <span class="count-numbers">
                
                  </span>
                  <span class="count-name">Overall Sales Amount</span>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card-counter success">
                  <i class="fa-solid fa-percent"></i>
                  <span class="count-numbers">
                   
                  </span>
                  <span class="count-name">Overall Discount</span>
              </div>
          </div>
      </div>
      <div class="row mt-5">
          <div class="col-md-4">
              <div class="card-counter info">
                  <i class="fa-solid fa-hand-holding-dollar"></i>
                  <span class="count-numbers">
                  
                  </span>
                  <span class="count-name">Daily Sale </span>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card-counter danger">
                  <i class="fa-solid fa-coins"></i>
                  <span class="count-numbers">
                      &#8377;
                  </span>
                  <span class="count-name">weeklyReport :</span>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card-counter warning">
                  <i class="fa-solid fa-sack-dollar"></i>
                  <span class="count-numbers">
                     
                  </span>
                  <span class="count-name">Monthly Sale : <span id="current-month"></span></span>
              </div>
          </div>
      </div>
      <div class="row mt-5">
          <div class="col-md-12">
              <div class="card-counter orange">
                  <i class="fa-solid fa-circle-dollar-to-slot"></i>
                  <span class="count-numbers" id="custom-sale-display">&#8377; 00</span>
                  <form class="date-form" id="custom-sales-form">
                      <div class="row">


                          <div class="col-md-4">
                              <label for="startDate">Starting Date</label>
                              <input id="startDate" class="form-control" type="date" name="startDate" />
                              <label id="startDate-validate" class="text-danger"></label>
                          </div>
                          <div class="col-md-4">
                              <label for="endDate">Ending Date</label>
                              <input id="endDate" class="form-control" type="date" name="endDate" />
                              <label id="endDate-validate" class="text-danger"></label>
                          </div>
                          <div class="col-md-4">
                              <label for="report-select">Sales Duration</label>
                              <select class="form-select" aria-label="Default select example" id="report-select">
                                  <option value="1" selected>Today</option>
                                  <option value="2">One Week</option>
                                  <option value="3">One Month</option>
                                  <option value="4" id="current-month-option">This Month</option>
                                  <option value="5">Six Months</option>
                                  <option value="6">One Year</option>
                              </select>
                              <label id="report-select-validate" class="text-danger"></label>
                          </div>

                          <div class="col-md-12 text-center">
                              <button class="btn btn-dark m-2" type="submit">Generate Report</button>
                              <button class="btn btn-dark m-2" type="button" onclick="downloadExcelReport()">Download
                                  Excel
                                  Report</button>
                              <button class="btn btn-dark m-2" type="button" onclick="downloadPdfReport()">Download
                                  PDf
                                  Report</button>
                          </div>



                      </div>
                  </form>

                  <span class="count-name">Custom Date Sale</span>
              </div>
          </div>
      </div>





  <%- include('footer') %>