<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<style>
     .not-found-container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: white;
        background-color: black;
       
    }
</style>
<body>
    
    <div class="not-found-container">
        <h1> 404 Page NOt Found</h1>
        <h6>sorry! the page you're looking not found</h6>
        <button onclick="history.back()" class="btn btn-primary">Go back</button>
    </div>
</body>
</html>