<style>
    .footer-container {
        margin-top: 2rem;
        color: #ffffff;
        padding: 2rem;
        background-color: #212122;

    }

    .footer-top-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* padding: 1rem 0; */
    }

    .footer-copyright {
        /* border-top: 1px solid #c7c7c7;
        padding-top: 2rem ;
        text-align: center; */
        border-top: 1px solid #c7c7c7;
        padding-top: .5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-download-image {
        width: 100px;
    }

    .footer-social-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }

    .footer-social-links i {
        scale: 1.3;
        cursor: pointer;
        transition: .3s ease-in-out;
    }

    .footer-social-links i:hover {
        scale: 1.1;
    }
  .footer-col a{
    text-decoration: none;
    color: white;
  }


    @media (max-width: 768px) {
        .footer-top-row {
            flex-direction: column;
            align-items: center;
        }
        .footer-col {
            flex: 1 1 auto;
            margin-bottom: 2rem;
            text-align: center;
        }
        .footer-social-links {
            margin-top: 1rem;
        }
    }
</style>

<footer class="footer-container">
    <div class="footer-top-row">
        <div class="footer-col">
            <h4>WordPlay Books</h4>

        </div>
        <div class="footer-col">
            <h5>Support</h5>
            <p>Kazhakkottam Trivandrum</p>
            <p>shilpaspillaitvla@gmail.com</p>
            <p>+91-964-520-1531</p>
        </div>
        <div class="footer-col">
            <h5>Account</h5>
            <a href="/user/profile"><p>My Account</p></a>
            <a href="/user/login"><p>Login / Register</p></a>
          
            <a href="/user/cart"><p>Cart</p></a>
            <a href="/user/wishlist"><p>Wishlist</p></a>
            <a href="/user/productSeemore"><p>Shop</p></a>
        </div>
        <div class="footer-col">
            <h5>Quick Link</h5>
            <p>Privacy Policy</p>
            <p>Terms of us</p>
            <p>FAQ</p>
            <p>Contact</p>
        </div>
        <div class="footer-col">
            <h5>Donwload App</h5>
            <img src="../../image/googlePlay.png" alt="" class="footer-download-image">
            <img src="../../image/appStore.png" alt="" class="footer-download-image">
            <div class="footer-social-links">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <small>&copy; WordPlay Books@2024</small>
    </div>


</footer>