<style>
    .footer-container{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        padding: 2rem;
        background-color:black ;
        
    }
</style>

<div class="footer-container">
   <h6> &copy;WordPlayBooks@2024</h6>
</div>