<style>

body{
    background-color:  #232323;
}

.forget-container {
/*    
    background-color: rgba(0, 0, 0, 0.75); */
    /* border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    width:30%;
    height:20%;
    margin:1.9rem auto;
    color: white;
    border: 2px solid #ffff;
    border-radius: 30px;
  
}

.lock-icon {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    /* margin-top: 10px; */
    text-transform: uppercase;
}

p {
    font-size: 12px;
}

.forgetpass {
    margin-top: 15px;
    margin-left: 30px;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid deepskyblue;
    font-size: 15px;
    color: white;
    outline: none;
}

button {
    margin-top: 15px;
    margin-left:30px;
    width: 80%;
    background-color: rgb(115, 255, 0);
    color: white;
    padding: 10px;
    text-transform: uppercase;
}
</style>

<%- include('navbar') %>

<div class="forget-container">
    <!-- <p class="lock-icon"><i> class="fas fa-lock"></i></p> -->

    <i class="fa-solid fa-lock"></i>
    <h2>Forgot Password?</h2>
    <p>You can reset your Password here</p>

    <form action="/user/forget-password" method="post" id="forget-password-form">
        <input type="email" class="forgetpass" placeholder="Enter your email" name="email">
    <button type="submit" id="forget-password-btn">Send code</button>
    </form>
</div>

<%-include('footer') %>
