<style>
  body {
    background-color: #232323;
  }

  .otp-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background: url('../../image/otpBG1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; */
  }

  .otp-box {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 2rem 1rem;
    background-color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .otp-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .otp-box input {
    width: 150px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #dcdcdc;
    font-weight: 700;
    outline: none;
    transition: all 0.1s;
    background-color: whitesmoke;
  }

  #resend-otp {
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    display: none;
  }

  #otp-timer {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    width: 50px;
  }
</style>

<%- include('navbar') %>
<div class="otp-container">
  <div class="otp-box">
    <h2>Enter the Otp Code</h2>
    <small> OTP has been sended to your email addres !</small>

    <!-- email address from backend -->
    <b id="otp-email"> <%= emailAddress %> </b>
    <small>Enter the otp below to verify</small>
    <form action="/otp" method="post">
      <input type="text" name="otp" minlength="6" maxlength="6" required />

      <small id="otp-timer-box"
        >OTP is valid for <input type="text" id="otp-timer" />
      </small>

      <input
        type="text"
        value="<%= otpExpireTime %>"
        id="otp-sended-time"
        hidden
      />

      <button class="btn btn-primary" type="submit" id="otp-btn">
        Verify OTP
      </button>
    </form>
  </div>
</div>

<script>
  const otpTimerBox = document.getElementById("otp-timer-box");
  const otpTimer = document.getElementById("otp-timer");
  const otpSendedTime = document.getElementById("otp-sended-time");
  const submitOtp = document.getElementById("otp-btn");
  const otpEmail = document.getElementById("otp-email");

  const checkTimeOut = setInterval(() => {
    let otpMaxTimer = 120000; // 2 min
    let currentDate = Date.now();
    let otpExpireTime = parseInt(otpSendedTime.value);

    let timeLeft = otpExpireTime - currentDate;

    let displayTimer = timeLeft;

    if (timeLeft <= 0) {
      Swal.fire({
        title: "Timer expired",
        text: "Do you want to resend the OTP?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, resend it!",
      }).then((result) => {
        if (result.isConfirmed) {
          const URL = `/resend-otp/${otpEmail.innerHTML.trim()}`;
          fetch(URL, { method: "GET" }).then((response) => {
            if (response.ok) {
              Swal.fire({
                icon: "success",
                title: "OTP sent successfully",
              }).then(() => window.location.reload());
            } else {
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: "Something went wrong!",
              }).then(() => (window.location = "/signup"));
            }
          });
        } else {
          window.location = "/signup";
        }
      });

      clearInterval(checkTimeOut);
      return;
    }

    // Calculate minutes & seconds
    let minutes = Math.floor((displayTimer % (1000 * 60 * 60)) / (1000 * 60));
    let seconds = Math.floor((displayTimer % (1000 * 60)) / 1000);

    otpTimer.value = `${minutes.toString().padStart(2, "0")}:${seconds
      .toString()
      .padStart(2, "0")}`;
  }, 1000);
</script>

<%- include('footer') %>
